.information {
    position: absolute;
   /* width: 141px;*/
    height: 24px;
    right: 149px;
    top: 24px;
    font-family: BPreplay;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #518371;
    margin-bottom: 5px;
}

.modalStep {
    position: absolute;
    left: calc(50% - 200px);
    top: calc(50% - 86px);
    margin: auto;
    color: red;
    text-align: center;
    max-width: 400px;
    height: 171px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px #CAD2D3;
    border-radius: 20px;
}

.modal-close {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 3px;
    top: 8px;
    cursor: pointer;
    border: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #78B0A0;
    line-height: 21px;
    background: #FFFFFF;
}

/*@media (max-width: 767px) {
    #modal {
        max-width: 180px;
        width: 100%;
        height: 100px;
        position: absolute;
        z-index: 0;
        !* right: 90px;*!
        left: 50px;
        top: 134px;
        margin: auto;
    }
}*/

.nextStep {
    position: absolute;
    width: 160px;
    height: 40px;
    left: 120px;
    top: 91px;
    background: #518371;
    border: 1px solid #5E8D7C;
    box-sizing: border-box;
    border-radius: 40px;
    font-family: BPreplay;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;

}

.modalStepInfo {
    position: absolute;
    width: 264px;
    height: 27px;
    left: 67px;
    top: 40px;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.modalStep2 {
    position: absolute;
    width: 438px;
    height: 810px;
    right: 100px;
    top: 84px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px #CAD2D3;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

.backPrev {

    position: absolute;
    width: 32px;
    height: 19px;
    left: 8px;
    top: 9px;
    border: none;
    font-size: 14px;
    line-height: 21px;
    color: #518371;
    background: #FFFFFF;
}

.location {
    position: absolute;
    width: 390px;
    height: 48px;
    left: 24px;
    top: 72px;
    padding: 5px;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px -1px 0px #78B0A0;
    color: #518371;
}

.mapPin {
    position: absolute;
    width: 390px;
    height: 117px;
    left: 4px;
    top: 28px;
}

.Btn-submit-nextStepFinish {
    position: absolute;
    width: 160px;
    height: 48px;
    left: 139px;
    top: 741px;
    background: #518371;
    border: 1px solid #5E8D7C;
    border-radius: 40px;
    transition: all 0.5s;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

button:hover{

    background-color: #FFFFFF;
    color:#518371;
}

.note-reportForm {
    position: absolute;
    max-width: 390px;
    width: 100%;
    height: 64px;
    left: 24px;
    top: 251px;
    background: #F7F7F7;
    border-radius: 10px;
    font-size: 14px;
    line-height: 21px;
    margin-top: 0px;
}

.spanNote {
    position: absolute;
    width: 37px;
    height: 22px;
    left: 38px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #518371;

}

.textNote {
    outline: none;
    width: 330px;
    height: 60px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    background: #F7F7F7;
    padding-left: 72px;
    white-space: normal;
}

.description {
    position: absolute;
    width: 390px;
    height: 48px;
    left: 24px;
    top: 339px;
    background: #FFFFFF;
    box-shadow: 0px -1px 0px #78B0A0;
    padding: 10px 0px 5px 10px;
    color: #518371;
}

.noteDescription {
    position: absolute;
    width: 390px;
    height: 64px;
    left: 24px;
    top: 443px;
    background: #F7F7F7;
    border-radius: 10px;
}

.spanDescription {
    position: absolute;
    width: 37px;
    height: 22px;
    left: 38px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #518371;
}

.textNoteDescription {
    outline: none;
    width: 330px;
    height: 60px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    background: #F7F7F7;
    padding-left: 72px;
    white-space: normal;
}

.selectProblem {
    position: absolute;
    outline: none;
    border: none;
    width: 390px;
    height: 40px;
    left: 24px;
    top: 387px;
    background: #F7F7F7;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #8194b1;
    margin:0;
}

.addPhoto {
    position: absolute;
    width: 390px;
    height: 48px;
    left: 24px;
    top: 531px;
    padding: 10px 0px 5px 10px;
    background: #FFFFFF;
    box-shadow: 0px -1px 0px #78B0A0;
    font-size: 16px;
    line-height: 23px;
    color: #518371;
    margin:0;
}

.addPhoto span {
    position: absolute;
    width: 74px;
    height: 27px;
    left: 40px;
    top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

.dropPhoto {
    position: absolute;
    width: 290px;
    height: 50px;
    left: 24px;
    top: 583px;
}

.modalGeo {
    position: absolute;
    left: calc(50% - 200px);
    top: calc(50% - 86px);
    margin: auto;
    text-align: center;
    width: 400px;
    height: 71px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    padding-top: 42px;
    background: #FFFFFF;
    border: 1px solid #518371 ;
    border-radius: 20px;
    color: #F6A275;
}

.modalSelect {
    position: absolute;
    left: calc(50% - 200px);
    top: calc(50% - 86px);
    margin: auto;
    text-align: center;
    width: 400px;
    height: 73px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    padding-top: 42px;
    background: #FFFFFF;
    border: 1px solid #518371;
    border-radius: 20px;
    color: #F6A275;
}

.modalFinish {
    position: absolute;
    width: 400px;
    height: 171px;
    left: calc(50% - 200px);
    top: calc(50% - 86px);
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px #CAD2D3;
    border-radius: 20px;
}

.btnModal-finish {
    position: absolute;
    width: 160px;
    height: 40px;
    left: 121px;
    top: 89px;
    background: #518371;
    border: 1px solid #5E8D7C;
    box-sizing: border-box;
    border-radius: 40px;font-family: BPreplay;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.btnModal-finish:hover{
    color: #518371;
}

.modalFinishText {
    position: absolute;
    width: 287px;
    height: 27px;
    left: 57px;
    top: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}


